body {
  background: #f9f9f9;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}

h1 {
  text-transform: uppercase;
  color: #34495e;
  letter-spacing: 2px;
  font-size: 5em;
  margin-top: 1em;
}

.homePage{
    border: solid red;
}

.descriptionPage{
    border: solid red;
    height: 20em;
    display: flex;
    align-content: center;
    text-align: center;
    background: #FBFBF7;
}

/*=========== PANELS ============*/

.panels {
    min-height: 10vh;
    overflow: scroll;
    width: 100%;
    border: solid black;
}

.panel {
    text-align: center;
    align-items:center;
    min-height: 8vh;
}

.panel > * {
    margin:0;
    width: 100%;
    transition:transform 0.5s;
    justify-content: center;
    align-items: center;
}

.panel.open {
    font-size:40px;
}

.panel:hover {
    box-shadow: 2px 0 7px 2px;
    background-color: yellow;
}

/*======== PANEL INFO =========*/
.otherInfo {
    visibility: hidden;
}

/*========= SCROLLBAR =========*/
/*just removed it, it was ugly*/

::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

::-webkit-scrollbar-thumb {
    background: #FEBE71; 
}